<!-- <h1>Obtener las playlist de un canal</h1>
<p style="font-weight: bold;">
    Costo de cuota: 100 por cada página de resultados
</p>
    <div>
        <label for="channelIdInput">Id del canal</label>
        <input id="channelIdInput" type="text" [(ngModel)]="channelId">
        <p>
            Para averiguar la id de un canal hacerlo con <a href=" https://commentpicker.com/youtube-channel-id.php">esta página web</a>
        </p>
    </div>
    <br>
    <div>
        <label for="query">Query de búsqueda</label>
        <input id="query" type="text" [(ngModel)]="query">
    </div>
    <br>
    <button (click)="search()">Buscar</button>    
    <br>
<div *ngIf="result">
    <p>
        Vea la respuesta en la consola del navegador
    </p>
</div> -->