<div class="lau-super-container">
    <div class="lau-container">
        <div class="lau-player">
            <div id="player"></div>
        </div>
        <div class="lau-divider"></div>
        <div class="lau-controls" style="margin-top: 10px;">
                <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="play()">Play</button>
                <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="pause()">Pause</button>
                <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="stop()">Stop</button>
        </div>
        <div class="lau-controls" style="margin-top: 10px;">
            <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="mute()">Mute</button>
            <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="unmute()">UnMute</button>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Setear volumen</mat-label>
                  <input type="number" matInput placeholder="Volumen de 0 a 100" [(ngModel)]="volume" name="volume">
                </mat-form-field>
                <button style="margin-left: 5px;" mat-raised-button color="accent" (click)="setVolume()">Setear Volumen</button>
              </form>
    </div>
        <div style="margin-top: 10px;">
            <button mat-raised-button (click)="showInfo()">Info</button>      
        </div>
        <div style="margin-top: 10px;">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Reproducir desde el segundo...</mat-label>
                  <input type="number" matInput placeholder="Segundos" [(ngModel)]="seekTo" name="seekTo">
                </mat-form-field>
                <button style="margin-left: 5px;" mat-raised-button color="accent" (click)="seekToAndPlay()">Play</button>
              </form>
        </div>
    </div>   
    <div>
        <h3>Datos del video</h3>
        <p>

        </p>
    </div>
</div>