.lau-super-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.lau-container {
    width: 670px;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lau-player {
    height: 390px;
}

.lau-controls {
    
}