<h1>Buscar videos dentro de un canal</h1>
    <div>
        <label for="channelIdInput">Id del canal</label>
        <input id="channelIdInput" type="text" [(ngModel)]="channelId">
        <p>
            Para averiguar la id de un canal hacerlo con <a href=" https://commentpicker.com/youtube-channel-id.php">esta página web</a>
        </p>
    </div>
    <br>
    <div>
        <label for="query">Query de búsqueda</label>
        <input id="query" type="text" [(ngModel)]="query">
    </div>
    <br>
    <button (click)="search()">Buscar</button>    
    <br>
<div *ngIf="result">
    <p>
        Vea la respuesta en la consola del navegador
    </p>
    <p style="font-weight: bold;">
        Costo de cuota: 100 por cada página de resultados
        <img src="https://i.ibb.co/SK7Wzfz/quotasearch.png" alt="quotasearch" border="0">
    </p>
</div>